@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(./fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-LightItalic;
    src: url(./fonts/Roboto-LightItalic.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.header {
    height: 345px;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 0 200px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.logo-links {
    display: flex;
    justify-content: space-between;
    padding: 14px;
    margin-bottom: 48px;
}

.links ul{
    list-style: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.title-img {
    display: flex;
    gap: 12px;
    padding: 14px;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.title {
    font-size: 48px;
    color: #f9faf8;
    font-family: Roboto-Bold;
}

.title-subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.img {
    background-color: #8f8c8c;
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
}

.info {
    font-size: 36px;
    font-family: Roboto-Bold;
    text-align: center;
    color: #1f2937;
    margin-bottom: 48px;
}

.content {
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    gap: 32px;
    margin-bottom: 32px;
}

.item {
    max-width: 200px;
}

.container img{
    width: 150px;
    height: 150px;
    display: flex;
    margin: 0 auto;
}

.text {
    text-align: center;
}

.quote-container {
    background-color: #e5e7eb;
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.quote-item {
    display: flex;
    flex-direction: column;
    max-width: 750px;
}

.quote-text {
    font-size: 36px;
    font-family: Roboto-LightItalic;
    
}

.quote-author {
    align-self: flex-end;
    font-weight: bold;
}


