@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Hero, Arial, Helvetica, sans-serif;
}

.header {
    height: 345px;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 0 200px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.logo-links {
    display: flex;
    justify-content: space-between;
    padding: 14px;
    margin-bottom: 48px;
}

.links ul{
    list-style: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.title-img {
    display: flex;
    gap: 12px;
    padding: 14px;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.title-subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.img {
    background-color: #8f8c8c;
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
}